@font-face {
    src:url("../fonts/OpenSans-Regular.ttf");
    font-family:OpenSans-Regular;
}
@font-face {
    src:url("../fonts/OpenSans-Bold.ttf");
    font-family:OpenSans-Bold;
}
@font-face {
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-family: OpenSans-Semibold;
}
@font-face {
    src: url("../fonts/OpenSans-Light.ttf");
    font-family: OpenSans-Light;
}
@font-face {
    src: url("../fonts/radiospace.ttf");
    font-family: radiospace;
}




body{
    margin: 0;
    padding: 0;
}

.site{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/*header*/
.site header{
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}
.site header .header_top{
    height: 781px;
    overflow: hidden;
    background-image: url("../images/header_bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.site header .header_top .head_data{
    height: auto;
    width: 920px;
    overflow: hidden;
    margin: 0 auto;
    display:block;
    text-align: center;
    margin-top: 200px;
}
.site header .header_top .head_data h1{
    font-family:OpenSans-Regular;
    font-size: 50px;
    color: white;
}
.site header .header_top .head_data p{
    font-family:OpenSans-Regular;
    font-size: 14px;
    color: white;
}
.site header .header_top .head_data button{
    font-family:OpenSans-Regular;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 50px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 40px;
}
.site header .header_top .head_data button:focus{
    outline: none;
}
.site header .header_bottom{
    height: 80px;
    background-color: white;
    border: 1px solid orange;
    padding: 30px 160px 0 160px;
}
.site header .header_bottom .logo{
    float: left;
}
.site header .header_bottom .menu{
    float: right;
    width: auto;
    height: auto;
    margin-top: 15px;
}
.site header .header_bottom .menu ul{
    padding: 0;
    margin: 0;
}
.site header .header_bottom .menu ul li{
    list-style: none;
    float: left;
}
.site header .header_bottom .menu ul li a{
    font-family:OpenSans-Regular;
    font-size: 14px;
    color: #1f2c33;
    padding: 7px 15px;
    text-decoration: none;
}
.site header .header_bottom .menu ul li a:hover{
    background-color: #ed4f2e;
    border-radius: 5px;
    color: white;
    font-family:OpenSans-Bold;
    padding: 7px 15px;
}

.site header .header_bottom .menu ul li a:focus{
    background-color: #ed4f2e;
    border-radius: 5px;
    color: white;
    font-family:OpenSans-Bold;
    padding: 7px 15px;
}
/*Services******/
.site .Services{
    height: auto;
    background-color: #ebebeb;
    padding: 50px 130px;
    margin-top: 50px;
}
.site .Services .Our_Services{
    background-color: white;
    height: auto;
    margin: 0 auto;
    border-radius: 50px 50px 0 0;
    padding: 100px 90px;
    overflow: hidden;
}
.site .Services .Our_Services .Services_data{
    height: auto;
    width: auto;
    text-align: center;
}
.site .Services .Our_Services .Services_data h1{
    font-family: OpenSans-Semibold;
    color: #ed4f2e;
    font-size: 35px;
    margin-bottom: 0;
}
.site .Services .Our_Services .Services_data p{
    font-family:OpenSans-Regular;
    color: #1f2c33;
    font-size: 14px;
    width: 550px;
    display: inline-block;
}
.site .Services .Our_Services .Services_data img{
    display: block;
    margin: 0 auto;
}
.site .Services .Our_Services .Service{
    height: auto;
    overflow: hidden;
    margin-top: 100px;
}
.site .Services .Our_Services .Service .box{
    width: 289px;
    height: 190px;
    float: left;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 40px;
}
.site .Services .Our_Services .Service .box:nth-child(3), .site .Services .Our_Services .Service .box:nth-child(6){
    margin-right: 0;
    float: right;
}
.site .Services .Our_Services .Service .box i{
    color: #1f2c33;
    margin-bottom: 0;
    transition: all 0.5s;
}
.site .Services .Our_Services .Service .box:hover i{
    color: #ed4f2e;
}
.site .Services .Our_Services .Service .box h1 a{
    font-size: 25px;
    font-family:OpenSans-Regular;
    color: #1f2c33;
    margin-bottom: 0;
    transition: all 0.5s;
    text-decoration: none;
    font-weight: normal;
}
.site .Services .Our_Services .Service .box h1{
    margin: 5px 0;
}

.site .Services .Our_Services .Service .box:hover h1 a{
    color: #ed4f2e;
}

.site .Services .Our_Services .Service .box p{
    font-size: 14px;
    font-family:OpenSans-Regular;
    color: #4f4f4f;
    margin-top: 10px;
    margin-bottom: 0;
}

/*video_sec******/
.site .video_sec{
    height: 587px;
    background-image: url("../images/video_bg.jpg");
    background-repeat: no-repeat;
    position: relative;
}
.site .video_sec a img{
    position: absolute;
    bottom:251px;
    left: 620px;

}


/*pricing*****/
.site .pricing{
    height: auto;
    background-color: #ebebeb;
    padding: 50px 130px;
}
.site .pricing .Simple_pricing{
    background-color: white;
    height: 1020px;
    margin: 0 auto;
    border-radius: 0 0 50px 50px;
    padding: 50px 90px;
}
.site .pricing .Simple_pricing .pricing_data{
    height: auto;
    width: auto;
    text-align: center;
}
.site .pricing .Simple_pricing .pricing_data h1{
    font-family: OpenSans-Semibold;
    color: #ed4f2e;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 100px;
}
.site .pricing .Simple_pricing .pricing_data p{
    font-family:OpenSans-Regular;
    color: #1f2c33;
    font-size: 14px;
    width: 550px;
    display: inline-block;
}
.site .pricing .Simple_pricing .pricing_data img{
    display: block;
    margin: 0 auto;
}
.site .pricing .Simple_pricing .packages{
    height: auto;
    margin-top: 50px;
    overflow: hidden;
    padding: 30px 0;
}
.site .pricing .Simple_pricing .packages .package{
    width: 205px;
    height: 610px;
    border: 1px solid #ebebeb;
    float: left;
    text-align: center;
    margin-left: 17px;
    position: relative;
    transition: all 0.5s;
}
.site .pricing .Simple_pricing .packages .package:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 1px solid #ed4f2e;

}
.site .pricing .Simple_pricing .packages .package:last-child{

}
.site .pricing .Simple_pricing .packages .package h1{
    font-family: OpenSans-Semibold;
    color: #1f2c33;
    font-size: 25px;
    margin: 20px 0;
}
.site .pricing .Simple_pricing .packages .package .price{
    background-color: #ebebeb;
    height: 90px;
    text-align: center;
    transition: all 1s;
}
.site .pricing .Simple_pricing .packages .package:hover .price{
    background-color: #ed4f2e;
}
.site .pricing .Simple_pricing .packages .package .price p{
    color: #1f2c33;
    font-family: OpenSans-Semibold;
    font-size: 45px;
    line-height: 85px;
    margin-top: 0;
}
.site .pricing .Simple_pricing .packages .package:hover .price p{
    color: white;
}

.site .pricing .Simple_pricing .packages .package .price p small{
    font-family:OpenSans-Regular;
    color: #1f2c33;
    font-size: 24px;
}
.site .pricing .Simple_pricing .packages .package:hover .price p small{
    color: white;
}
.site .pricing .Simple_pricing .packages .package p{
    color: #4f4f4f;
    font-size: 14px;
    font-family:OpenSans-Regular;
    width: 180px;
    margin: 35px auto;
    line-height: 40px;
}
.site .pricing .Simple_pricing .packages .package button{
    font-family:OpenSans-Regular;
    background-color: #ed4f2e;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 45px;
    right: 50px;
    padding: 8px 17px;
}

/*Registration****/
.site .Registration{
    height: 430px;
    background-image: url("../images/regestratiob_bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.site .Registration .Registration_data{
    text-align: center;
    padding-top: 110px;
}
.site .Registration .Registration_data h3{
    font-family:OpenSans-Regular;
    color: white;
    font-size: 25px;
    font-weight: normal;
    margin-top: 0;
}
.site .Registration .Registration_data h1{
    font-family:OpenSans-Bold;
    color: white;
    font-size: 35px;
    margin-top: 0;
}
.site .Registration .Registration_data button{
    padding: 10px 20px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-family:OpenSans-Regular;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.site .Registration .Registration_data button:hover{
    background-color: #ed4f2e;
}
.site .Registration .Registration_data button:focus{
    background-color: #ed4f2e;
    outline: none;
}
.site .Registration .Registration_data button i{
    margin-left: 10px;
}

/*customers***/
.site .customers{
    height: 516px;
    margin-top: 50px;
}
.site .customers .happy_customers{
    width: 413px;
    height: 200px;
    background-image: url("../images/CUSTOMERS.jpg");
    background-repeat: no-repeat;
    float: left;
    padding: 160px 130px;
}
.site .customers .happy_customers .customers_data{
    height: auto;
}
.site .customers .happy_customers .customers_data h1{
    color: white;
    font-family: OpenSans-Semibold;
    font-size: 35px;
    margin:0 ;
    text-align: center;
}
.site .customers .happy_customers .customers_data p{
    color: white;
    font-size: 14px;
    text-align: center;
    font-family:OpenSans-Regular;
    margin-top: 20px;
}
.site .customers .subscripe{
    width: 414px;
    height: 200px;
    background-image: url("../images/CUSTOMERS_2.jpg");
    background-repeat: no-repeat;
    float: left;
    padding: 160px 130px;
}
.site .customers .subscripe .sub_data{
    height: auto;
}
.site .customers .subscripe .sub_data h1{
    color: white;
    font-family: OpenSans-Semibold;
    font-size: 35px;
    margin:0 ;
    text-align: center;
}
.site .customers .subscripe .sub_data input{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    width: 370px;
    margin-top: 20px;
}
.site .customers .subscripe .sub_data input:focus{
    outline: none;
    border: 1px solid #ed4f2e;
}
.site .customers .subscripe .sub_data input::placeholder{
    color: white;
    font-size: 14px;
    font-family:OpenSans-Regular;
}
.site .customers .subscripe .sub_data button{
    background-color:#ed4f2e ;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    outline: none;
    font-size: 14px;
    font-family:OpenSans-Bold;
    border: none;
    margin: 0 auto;
    display:block;
    margin-top: 20px;
    cursor: pointer;
}

/*contact_us******/
.site .contact_us{
    height: auto;
    background-color: #ebebeb;
    padding: 50px 130px;
}
.site .contact_us .contact{
    background-color: white;
    height: 890px;
    margin: 0 auto;
    border-radius: 0 0 50px 50px;
    padding: 100px 90px;
}
.site .contact_us .contact .contact_data{
    height: auto;
    width: auto;
    text-align: center;
}
.site .contact_us .contact .contact_data h1{
    font-family: OpenSans-Semibold;
    color: #ed4f2e;
    font-size: 35px;
    margin-bottom: 0;
}
.site .contact_us .contact .contact_data p{
    font-family:OpenSans-Regular;
    color: #1f2c33;
    font-size: 14px;
    width: 550px;
    display: inline-block;
}
.site .contact_us .contact .contact_data img{
    display: block;
    margin: 0 auto;
}
.site .contact_us .contact .data{
    height: auto;
    overflow: hidden;
    margin-top: 100px;
}
.site .contact_us .contact .data input{
    height: 20px;
    padding: 20px;
    border-radius:10px;
    border: 1px solid #cccccc;
    width: 395px;
    float: left;
    margin-bottom: 30px;
    transition: all 0.5s;
}
.site .contact_us .contact .data input:focus{
    border:1px solid #ed4f2e ;
    outline: none;
}
.site .contact_us .contact .data input:nth-child(2), .site .contact_us .contact .data input:nth-child(4){
    float: right;
}
.site .contact_us .contact .data input::placeholder{
    font-family: OpenSans-Light;
    color: #1f2c33;
    font-size: 14px;
}
.site .contact_us .contact .data textarea{
    width: 863px;
    height: 300px;
    padding: 20px;
    border-radius:10px;
    border: 1px solid #cccccc;
    margin-bottom: 30px;
    transition: all 0.5s;
}
.site .contact_us .contact .data textarea::placeholder{
    font-family: OpenSans-Light;
    color: #1f2c33;
    font-size: 14px;
}
.site .contact_us .contact .data textarea:focus{
    border:1px solid #ed4f2e ;
    outline: none;
}
.site .contact_us .contact .data .data_bu{
    height: auto;
    overflow: auto;
    text-align: center;
}
.site .contact_us .contact .data .data_bu button{
    padding: 10px 40px;
    background: #ed4f2e;
    border:none;
    border-radius: 5px;
    color: white;
    font-family:OpenSans-Bold;
    font-size: 14px;
    cursor: pointer;
}
.site .contact_us .contact .data .data_bu button:focus{
    outline: none;
}
/*footer****/
.site footer{
    height: auto;
    overflow: hidden;
}
.site footer .top_footer{
    overflow: hidden;
    background-color: #1f2c33;
    margin: 0 auto;
    padding: 100px 90px;
}
.site footer .top_footer .data_footer{
    overflow: hidden;
    height: auto;
}
.site footer .top_footer .data_footer .about{
    float: left;
    width: 268px;
    height: auto;
    margin-right: 30px;
}
.site footer .top_footer .data_footer .about h2{
    font-size: 20px;
    color: white;
    font-family:OpenSans-Bold;
    margin: 0;
}
.site footer .top_footer .data_footer .about h1{
    font-size: 42px;
    color: #ed4f2e;
    font-family: radiospace;
    margin-top: 20px;
    margin-bottom: 0;
}
.site footer .top_footer .data_footer .about p{
    font-size: 14px;
    color: #a3b1bf;
    font-family: "Myriad Pro";
    text-align: left;
    margin-top: 10px;
}
.site footer .top_footer .data_footer .touch{
    float: left;
    width: 268px;
    height: auto;
    margin-right: 30px;
}
.site footer .top_footer .data_footer .touch h2{
    font-size: 20px;
    color: white;
    font-family:OpenSans-Bold;
    margin: 0;
}
.site footer .top_footer .data_footer .touch p{
    font-size: 14px;
    color: #a3b1bf;
    font-family: "Myriad Pro";
    text-align: left;
    margin-top: 20px;
}
.site footer .top_footer .data_footer .touch ul{
    padding: 0;
    margin-top: 10px;
}
.site footer .top_footer .data_footer .touch ul li{
    list-style: none;
    font-size: 14px;
    color: #a3b1bf;
    font-family: "Myriad Pro";
}
.site footer .top_footer .data_footer .works{
    float: left;
    width: 268px;
    height: auto;
    margin-right: 10px;
}
.site footer .top_footer .data_footer .works h2{
    font-size: 20px;
    color: white;
    font-family:OpenSans-Bold;
    margin-bottom: 20px;
    margin-top: 0;
}
.site footer .top_footer .data_footer .works img{
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}
.site footer .top_footer .data_footer .Subscribe{
    float: right;
    width: 268px;
    height: auto;
    margin-right: 0;
}
.site footer .top_footer .data_footer .Subscribe h2{
    font-size: 20px;
    color: white;
    font-family:OpenSans-Bold;
    margin-bottom: 20px;
    margin-top: 0;
}
.site footer .top_footer .data_footer .Subscribe p{
    font-size: 14px;
    color: #a3b1bf;
    font-family: "Myriad Pro";
    text-align: left;
    margin-top: 20px;
}
.site footer .top_footer .data_footer .Subscribe input:focus{
    outline: none;
}
.site footer .top_footer .data_footer .Subscribe input[type="text"]{
    background-color: #404b51;
    border-radius: 3px;
    padding: 10px;
    border: none;
    width: 160px;
    float: left;
}
.site footer .top_footer .data_footer .Subscribe input[type="text"]::placeholder{
    color: #a3b1bf;
    font-family: OpenSans-Light;
    font-size: 14px;
}
.site footer .top_footer .data_footer .Subscribe input[type="submit"]{
    background-color: #ed4f2e;
    border-radius: 3px;
    padding:8px 10px;
    border: none;
    color: white;
    font-family:OpenSans-Bold;
    font-size: 14px;
    cursor: pointer;
}
.site footer .top_footer .data_footer .Subscribe span{
    margin-top: 30px;
    margin-right: 10px;
    color: white;
    font-weight: normal;
    transition: all 1s;
}
.site footer .top_footer .data_footer .Subscribe span:hover{
    color: #ed4f2e;
}
.site footer .top_footer .data_footer .Subscribe span:last-child{
    float: right;
    margin-right: 0;
}
.site footer .top_footer .data_footer .Subscribe span a i{
    color: white;
    font-weight: normal;
    transition: all 1s;
}
.site footer .top_footer .data_footer .Subscribe span a i:hover{
    color: #ed4f2e;
}

.site footer .bottom_footer{
    overflow: hidden;
    background-color: #283645;
    height: 80px;
}
.site footer .bottom_footer p{
    color: white;
    font-size: 14px;
    font-family:OpenSans-Regular;
    text-align: center;
    line-height: 45px;
}
